<nav class="nav">
  <div class="logo-container">
    <img src="/nurse_logo.png" alt="Logo" class="logo-img" />
    <div class="logo-text">
      <div class="logo-title">BARANGAY IMMUNIZATION</div>
      <div class="logo-subtitle">NOTIFICATION SYSTEM</div>
    </div>
  </div>
  <ul class="nav-list">
    <li><a routerLink="/" class="nav-link">Home</a></li>
    <li><a routerLink="/schedule-appointment" class="nav-link">Register</a></li>
    <li><a routerLink="/about" class="nav-link">About</a></li>
    <li><a routerLink="/contact" class="nav-link">Contact</a></li>
    <li><a routerLink="/login" class="nav-link">Login</a></li>
  </ul>
</nav>